h1{
  text-align: center;
}
.container{
  display:flex;
  flex-direction: column;
  margin:auto;
  margin-top: 40px;
  width:50%;
}
#editor{
  width:50%;
  height:20vh;
  color:white;
  background-color: black;
}
#preview-label{
  margin-top: 40px;
  border:solid white 2px;
}
#preview{
  border:solid white 2px;
  padding:20px;
  background:#707070;

}
img{
  width:800px
}